@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

.container{
  margin:0 auto;
  width: 1170px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container{
  flex-grow: 1;
}

.page-header{
  padding: 24px 0;
}

.section-h2{
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.navigation{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width:522px;
  display: flex;
  list-style-type: none;
  flex-wrap:wrap;
}

.dropdown-menu{
  list-style-type: none;
  position: absolute;
}

.logo{
  width:137px;
  height:55.72px;
  margin-right: 16px;
}

.navigation-user{
  max-width: 500px;
  margin-left: auto;
  display:flex;
  justify-content: flex-end;
  gap:16px;
  flex-wrap:wrap;
  align-items: center;
}

.navigation-item{
  padding: 0;
  margin:0;
}

.navigation-link{
  display: block;
  padding: 16px 8px;
}

.navigation-user-link{
  display: block;
  padding: 6px 16px;
  background:rgba(252, 252, 252, 0.3);
  border-radius:30px;
 }

.header-phone{
  padding-top: 6px;
  padding-bottom: 6px;
}

.dropdown{
  padding: 0;
  margin: 0;
  background: none;
  border:none;
  padding: 16px 8px;
}

.slider{
  margin-bottom: 80px;
}

.slider-item{
  display:flex;
  flex-wrap: wrap;
}

.slider-description-wrapper{
  width:429px;
  padding-left: 70px;
  padding-top: 135px;
}

.slider-title{
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.slider-image-wrapper{
  display: flex;
  width:645px;
  padding-top: 21px;
  align-items: center;
}

.slider-prev{
  order: -2;
}

.current-slider-image{
  order: -1;
}

.slider-pagination{
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
}

.social-slider-list{
  margin: 0;
  padding:0;
  margin-left: auto;
  display: flex;
}

.gifts{
  margin-bottom: 81px;
}

.section-gifts-h2{
  width: 434px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.gifts-list{
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.gifts-item{
  width:570px;
  display: flex;
}

.gifts-description-wrapper{
  padding-left: 36px;
  padding-top: 36px;
}

.gifts-title{
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}

.gifts-description{
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.gifts-button{
  margin: 0;
  margin-right: auto;
  margin-top:14px;
  border-radius: 26px;
}

.tastes{
  margin-bottom: 80px;
}

.section-tastes-h2{
  margin: 0 auto;
  text-align: center;
  width:527px;
  margin-bottom: 107px;
}

.product-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.product-card{
  width: 270px;
}

.advantages{
  margin-bottom: 80px;
}

.advantages-wrapper{
  display: block;
  padding: 56px 39px 56px 40px;
}

.section-advantages-h2{
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
}

.advantages-list{
  width: 1024px;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantages-item{
  width:442px;
  margin-bottom: 40px;
}

.advantages-item:nth-child(2n-1){
  margin-right: 32px;
}

.advantages-item:nth-child(2n){
  margin-right: 0;
}

.advantages-description{
  padding: 0;
  margin: 0;
}

.blog-subscribe-wrapper{
  display:flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog,
.subscribe{
  width:570px;
}

.blog-title{
  margin: 0;
  padding: 0;
  margin-bottom: 12.22px;
}

.blog-wrapper{
  width:303px;
  padding-left: 32px;
  padding-top: 32.59px;
}

.blog-description{
  margin: 0;
  padding: 0;
}

.subscribe-wrapper{
  padding: 26px;;
}

.subscribe-description{
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.form-input-subscribe{
  width: 332px;
  height: 48px;
  margin-right: 18px;
}

.delivery{
  display: flex;
  margin-bottom: 80px;
}

.delivery-form{
  margin: 64px;
  padding: 40px;
}

.delivery-description-wrapper{
  width: 371px;
  padding-left: 100px;
  padding-top: 167px;
}

h2.delivery-section-h2{
  text-align: left;
  margin: 0;
  padding: 0;
}

.delivery-form{
  width: 420px;
  margin-right: 64px;
  margin-left: auto;
  padding: 40px 40px 42px 40px;
}

.delivery-form-description{
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.label{
  display: block;
}

.contacts-wrapper{
  width:343px;
  background-color:#FCFCFC;
  padding: 40px 40px 42px 40px;
}

.contacts{
  padding: 64px;
}

.contacts-description{
  display: block;
  width:179px;
  margin-bottom: 12px;
}

.contacts-address-text{
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  width:263px;
}

.contacts-description-phone{
  display: block;
  width:203px;
  margin-bottom: 12px;
}

.schedule-phone{
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.form-button-contact{
  margin: 0;
  padding: 0;
  margin-top: 24px;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.social-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.social-item{
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.navigation-footer{
  width:356px;
}

.navigation-footer-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-item{
  padding-top: 32px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 16px;
}

.breadcrumbs-item{
  margin-right: 28px;
}

.breadcrumbs-link{
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link-current{
  text-decoration: underline;
}

.section-h2-butter-ice-cream{
  text-align: left;
  margin: 0;
}

.butter-ice-cream-catalog-filter{
  width: 823px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
}

.catalog-filter-title{
  margin-bottom: 8px;
}

.control-sort{
  margin: 0;
  padding: 0;
  padding: 8px 63px 8px 16px;
}

.catalog-filter-item{
  margin-right: 16px;
}

.catalog-filter-list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.catalog-filter-group{
  margin: 0;
  padding: 0;
}

.product-card{
  margin-bottom: 91px;
}

.button-pagination{
  display: flex;
  padding: 41px 0;
}

.catalog-filter-group-sort{
  width:196px;
}

.catalog-filter-group-price{
  width: 196px;
}

.catalog-filter-group-fat{
  width: 383px;
}

.catalog-filter-group-fill{
  width: 604px;
}

.filter-button{
  width: 185px;
}

.pagination{
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-item{
  margin-right: 12px;
}

.pagination-link{
  text-decoration: none;
  color: #2D3440;
}

.button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #FF2F64;
  text-decoration: none;
}

.white-button{
  background: linear-gradient(0deg, #FCFCFC, #FCFCFC),
  linear-gradient(0deg, rgba(252, 252, 252, 0.4), rgba(252, 252, 252, 0.4));
  color: #2D3440;
  padding: 12px 32px;
}

.rose-button{
  color: #FCFCFC;
  background: linear-gradient(0deg, #FF2F64, #FF2F64),
  linear-gradient(0deg, rgba(255, 47, 100, 0.3), rgba(255, 47, 100, 0.3));
  padding: 12px 32px;

}

.navigation-link{
  font-size: 16px;
  line-height: 20px;
}

.navigation-user-link,
.schedule-phone,
.navigation-footer-item,
.pagination-link,
.catalog-filter-title,
.control{
  font-size: 14px;
  line-height: 20px;
}

.header-phone{
  font-weight: 700;
}

.dropdown-menu-link,
.navigation-link,
.navigation-user-link,
.contacts-phone,
.copy-rights-link,
.navigation-footer-link{
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.dropdown-menu-item:first-child{
  color: #2D3440;
  font-weight: 700;
}

.slider-title{
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  text-align: left;
}

.slider-description{
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
}

.slider-button{
  margin: 0;
  margin-top: 24px;
}

.button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.gifts-title,
.blog-description{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.gifts-description{
  text-align: left;
}

.product-card-title,
.product-card-price,
.contacts-address-text,
.contacts-phone{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-list{
  text-align: center;
}

.product-list a{
  color: #2D3440;
  text-decoration: none;
}

.advantages-item{
  text-align: left;
}

.blog-title,
.pagination-link{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.label,
.button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.contacts-address{
  font-style: normal;
}

.navigation-footer-item:first-child,
.breadcrumbs-link{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.copy-rights{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.catalog-filter-list,
.control-sort{
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.slider-button{
  background: rgba(252, 252, 252, 0.3);
  /* basic/extra-light */
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  margin-right: auto;
}

.slider-pagination-button{
  background: rgba(252, 252, 252, 1);
}
.gifts-item{
  background: #FF7799;
}

.product-card{
  background: #FCFCFC;
}

.advantages{
  background: #FCFCFC url("../images/backgrounds/background-waffle.jpg");
  padding: 24px;
}

.advantages-wrapper{
  background: #FFFFFF;
}

.subscribe{
  background: #FCFCFC url("../images/backgrounds/subscribe.jpg");
  padding: 6px;
}

.subscribe-wrapper{
  background: #FFFFFF;
}

.delivery{
  background: #FCFCFC url("../images/backgrounds/delivery.jpg");
}

.delivery-form{
  background: #FCFCFC;
}

.contacts{
  background: #FCFCFC url("../images/backgrounds/contacts.jpg");
}

.contacts-address{
  background: #FCFCFC;
}

.pagination-current{
  background: #FCFCFC;
}

.blog{
  background: #FCFCFC url("../images/backgrounds/blog.jpg") no-repeat;
  background-size: 100% auto;
  text-align: left;
}

.subscribe{
  text-align: left;
}
